@import "variables";

.edit-site {
  display: flex;
  flex-direction: row;
  @media(max-width: $bp-sm) {
    flex-direction: column;
  }
  .edit-tab {
    height: 100vh;
    width: 35vw;
    // background-color: red;
    border-right: 2px solid $black;
    transition: 0.3s all;
    overflow: scroll;
    @media(max-width: $bp-sm) {
      height: auto;
      width: 100vw;
    }
    &.show {
      height: 100%;
      border-right: 2px solid $black;
      width: 100%;
      .cms-btn {
        text-align: right;
      }
      .show-btn {
        position: absolute;
        top: 15px;
        left: -200px;
        transition: 0.3s all;
        opacity: 0;
        z-index: 9999;
        // display: none;
      }
      .edit-tab-controls {
        border-top: 1px solid black;
        padding: 15px;
        .background-editor {
          .background-options-title {
            display: flex;
            align-items: center;
          }
          .background-editor-controls {
            margin-left: 10px;
            &.open {
              display: block;
            }
            &.close {
              display: none;
            }
            .margin-controller-section {
              margin-left: 10px;
              &.open {
                display: block;
              }
              &.close {
                display: none;
              }
            }
            .padding-controller-section {
              margin-left: 10px;
              &.open {
                display: block;
              }
              &.close {
                display: none;
              }
            }
            .color-controller-section {
              margin-left: 10px;
              &.open {
                display: block;
              }
              &.close {
                display: none;
              }
            }
          }
        }
        .edit-sections-wrapper {
          .edit-sections-title {
            display: flex;
            align-items: center;
          }
          .edit-sections {
            margin-left: 10px;
            &.close {
              display: none;
            }
            &.open {
              display: block;
            }
            .edit-tab-section {
              .edit-tab-section-title {
                display: flex;
                align-items: center;
              }
              .edit-tab-section-controls {
                &.open {
                  display: block;
                }
                &.close {
                  display: none;
                }
              }
              .background-options-title {
                display: flex;
                align-items: center;
              }
              .margins-editor-title {
                margin-left: 10px;
              }
              .paddings-editor-title {
                margin-left: 10px;
              }
              .margin-controller {
                margin-left: 10px;
              }
              .padding-controller {
                margin-left: 10px;
              }
              .margin-controller-section {
                margin-left: 10px;
                &.open {
                  display: block;
                }
                &.close {
                  display: none;
                }
              }
              .padding-controller-section {
                margin-left: 10px;
                &.open {
                  display: block;
                }
                &.close {
                  display: none;
                }
              }
              .delete-section {
                cursor: pointer;
                margin-left: 10px;
                color: red;
              }
            }
            .add-section-wrapper {

              .add-section-modal-title {
                font-size: 24px;
                text-align: center;
              }
              .add-section-options {
                margin: 30px 0px 15px;
                label {
                  position: relative;
                  bottom: 15px;
                  margin: 15px 0px;
                }
                .section-type-select {
                  bottom: 15px;
                  position: relative;
                  margin-left: 15px;
                }
                .text-editor-wrapper {
                  border: 1px solid black;
                }
                .image-adder-wrapper {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  .add-section-image-adder {
                    .image-preview {
                      img {
                        max-height: 500px;
                        max-width: 100%;
                      }
                    }
                  }
                }
              }

            }
          }
        }
        .editor-toggle-triangle {
          width: 5px;
          height: 5px;
          margin-left: 5px;
          &.open {
            margin-top: 5px;
            border-top: 5px solid black;
            border-right: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 5px solid transparent;
          }
          &.close {
            border-top: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 5px solid black;
          }

        }
      }
    }
    &.hide {
      height: 0px;
      width: 0px;
      border: none;
      transition: 0.3s all;
      .edit-tab-controls {
        display: none;
      }
      .cms-btn {
        // display: none;
      }
      .show-btn {
        position: absolute;
        top: 75%;
        // width: 25px;
        left: 0;
        display: block;
        opacity: 0.8;
        padding: 5px;
        z-index: 9999;
        background-color: white;
        // background-color: blue;
        &:after {
          content: ">";
        }
        &:hover {
          opacity: 1;
        }
      }
    }
    .edit-tab-header {
      display: flex;
      justify-content: flex-end;
    }
  }
  .edit-page-root {
    flex: 1;
    width: auto;
    background-color: yellow;
    .section {
      position: relative;
      .edit-btn {
        position: absolute;
        top: 0;
        right: 0;
        border-left: 1px solid $red;
        border-bottom: 1px solid $red;
        padding: 2px;
        // background-color: white;
      }
      .edit-page-section {
        .update-btn {
          width: 100px;
        }
      }
    }
    .section-image {
      .edit-page-image-section {
        .controls {
          padding: 0px 0px 50px 0px;
          .edit-image-section-submit {
            position: relative;
            top: 20px;
          }
        }
      }
    }
  }
}
