@import "variables";

.edit-site {
  display: flex;
  flex-direction: row;
  .edit-tab {
    height: 100vh;
    width: 35%;
    // background-color: red;
    border-right: 2px solid $black;
    transition: 0.3s all;
    overflow: scroll;
    &.show {
      border-right: 2px solid $black;
      width: 35%;
      .cms-btn {
        text-align: right;
      }
      .show-btn {
        position: absolute;
        top: 15px;
        left: -200px;
        transition: 0.3s all;
        opacity: 0;
        // display: none;
      }
      .edit-tab-controls {
        border-top: 1px solid black;
        padding: 15px;
        .background-editor {
          .background-options-title {
            display: flex;
            align-items: center;
          }
          .background-editor-controls {
            margin-left: 10px;
            &.open {
              display: block;
            }
            &.close {
              display: none;
            }
            .margin-controller-section {
              margin-left: 10px;
              &.open {
                display: block;
              }
              &.close {
                display: none;
              }
            }
            .padding-controller-section {
              margin-left: 10px;
              &.open {
                display: block;
              }
              &.close {
                display: none;
              }
            }
            .color-controller-section {
              margin-left: 10px;
              &.open {
                display: block;
              }
              &.close {
                display: none;
              }
            }
          }
        }
        .edit-sections-wrapper {
          .edit-sections-title {
            display: flex;
            align-items: center;
          }
          .edit-sections {
            margin-left: 10px;
            &.close {
              display: none;
            }
            &.open {
              display: block;
            }
            .edit-tab-section {
              .edit-tab-section-title {
                display: flex;
                align-items: center;
              }
              .edit-tab-section-controls {
                &.open {
                  display: block;
                }
                &.close {
                  display: none;
                }
              }
              .background-options-title {
                display: flex;
                align-items: center;
              }
              .margins-editor-title {
                margin-left: 10px;
              }
              .paddings-editor-title {
                margin-left: 10px;
              }
              .margin-controller {
                margin-left: 10px;
              }
              .padding-controller {
                margin-left: 10px;
              }
              .margin-controller-section {
                margin-left: 10px;
                &.open {
                  display: block;
                }
                &.close {
                  display: none;
                }
              }
              .padding-controller-section {
                margin-left: 10px;
                &.open {
                  display: block;
                }
                &.close {
                  display: none;
                }
              }
              .delete-section {
                cursor: pointer;
                margin-left: 10px;
                color: red;
              }
            }
          }
        }
        .editor-toggle-triangle {
          width: 5px;
          height: 5px;
          margin-left: 5px;
          &.open {
            margin-top: 5px;
            border-top: 5px solid black;
            border-right: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 5px solid transparent;
          }
          &.close {
            border-top: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 5px solid black;
          }

        }
      }
    }
    &.hide {
      width: 0px;
      border: none;
      .edit-tab-controls {
        display: none;
      }
      .cms-btn {
        // display: none;
      }
      .show-btn {
        position: absolute;
        top: 75%;
        // width: 25px;
        left: 0;
        display: block;
        opacity: 0.3;
        // background-color: blue;
        &:after {
          content: ">";
        }
        &:hover {
          opacity: 1;
        }
      }
    }
    .edit-tab-header {
      display: flex;
      justify-content: flex-end;
    }
  }
  .edit-page-root {
    flex: 1;
    width: auto;
    background-color: yellow;
    .section {
      position: relative;
      .edit-btn {
        position: absolute;
        top: 0;
        right: 0;
        border-left: 1px solid $red;
        border-bottom: 1px solid $red;
        padding: 2px;
        // background-color: white;
      }
      .edit-page-section {
        .update-btn {
          width: 100px;
        }
      }
    }
  }
}
