@import "variables";

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  .modal {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $black;
    background-color: white;
    padding: 20px;
    max-height: 100%;
    .modal-close {
      position: absolute;
      top: 5px;
      right: 5px;
      &:hover {
        cursor: pointer;
      }
    }
    .modal-content {
      margin-top: 10px;
    }
  }
}
