@import "variables";

.register-page {
  .register-title {
    font-size: $big-font;
    text-align: center;
  }
  .user-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 5px;
    font-size: $medium-font;
    .form-group {
      font-size: $medium-font;
      margin: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      label {
        margin-right: 5px;
      }
      input {
        font-size: $medium-font;
        border: 0px solid transparent;
        border-bottom: 2px solid $black;
        padding: 0px 2px;
        &:focus {
          outline: none;
        }
      }
      .submit {
        font-size: $small-font;
        bottom: 0px;
        position: relative;
        margin: 20px;
        padding: 10px;
        border: 4px solid $grey;
        color: $black;
        text-decoration: none;
        transition: 0.2s all;
        &:hover {
          cursor: pointer;
          // bottom: 5px;
          -webkit-box-shadow: 0px 6px 48px -13px rgba(0,0,0,1);
          -moz-box-shadow: 0px 6px 48px -13px rgba(0,0,0,1);
          box-shadow: 0px 6px 48px -13px rgba(0,0,0,1);
        }
        &:focus {
          outline: none;
          -webkit-box-shadow: 0px 6px 48px -13px rgba(0,0,0,1);
          -moz-box-shadow: 0px 6px 48px -13px rgba(0,0,0,1);
          box-shadow: 0px 6px 48px -13px rgba(0,0,0,1);
        }
      }
    }
    .help-block {
      margin: 5px 0px;
      font-size: $small-font;
      color: $red;
    }
  }
}
